.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}
  
#myTable th, #myTable td {
    text-align: left;
    padding: 12px;
}
  
#myTable tr {
    border-bottom: 1px solid #ddd;
}
  
#myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
}
.footer {
    background-color: #990000;
    padding: 1px 1px;  
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer-text {
    color: white;
    text-align: right;
      
}